<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <th:block th:replace="/layout/head-login :: head-login"></th:block>
</head>

<body class="bg-gradient-primary color-background">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                           aria-describedby="emailHelp"
                           id="emailLogin" name="emailLogin"
                           placeholder="Enter Email Address...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="passwordLogin" name="passwordLogin" placeholder="Password">
                  </div>
                  <a id="btn-login-login" class="btn btn-primary btn-user btn-block">
                    Login
                  </a>
                  <hr>
                  <a href="#" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="#" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="/register">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/jquery/jquery-3.6.1.min.js"></script>
<th:block th:replace="/layout/script-login :: script-login"></th:block>

<script>
  let btnLogin = $("#btn-login-login");

  btnLogin.on("click", () => {
    let user = {
      username: $("#emailLogin").val(),
      password: $("#passwordLogin").val()
    }

    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      url: "http://localhost:8097/api/auth/login",
      type: "POST",
      data: JSON.stringify(user)
    })
    .done(() => {
      AppBase.showAlertSuccess(AppBase.AlertMessageVi.SUCCESS_LOGIN);

      setTimeout(function () {
        window.location.href = "/products";
      }, 1500);

    })
    .fail((jqXHR) => {
      AppBase.showAlertError(AppBase.AlertMessageVi.ERROR_400);
    })
  })
</script>

</body>

</html>